html,
body,
header,
nav,
h1,
a,
ul,
ol,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  font-family: sans-serif;
  background-color: limegreen;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  height: 200px;
}

h1 {
  font-size: 25px;
}

h2,
h3 {
  font-size: 20px;
}

li {
  padding-left: 30px;
}
